.nav {
    grid-area: n;
    background-color: #726c2f;
    padding: 20px;
}
.item a {
    color: aliceblue;
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}
.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}