@import "~antd/dist/antd.css";
.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template:
"h h" 60px "n c" 1fr / 2fr 10fr;

    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;

}

